<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav class="d-flex fixed-top" id="custom-navbar"=>
      <ul class="list-group list-group-horizontal flex-grow-1">
        <li class="custom-list" id="custom-navbar">
          <%= link_to "Home", root_path %>
        </li>
        <li class="custom-list" id="custom-navbar">
          <%= link_to "See all cocktails", cocktails_path %>
        </li>
      </ul>
      <ul class="list-group list-group-horizontal">
        <li class="custom-list" id="custom-navbar">
          <%= link_to "Add a Cocktail", new_cocktail_path %>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
